body {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
}

/*Nav*/
nav {
	background-color: blue;
	color: white;
	padding: 1em;
}
nav h4 {
	margin: 0;
}

/*Header*/
#name {
	font-size: 6em;
}

#headshot {
	border-radius: 100%;
	-webkit-box-shadow: 0px 0px 0px 9px rgba(204, 204, 204, 1);
	-moz-box-shadow: 0px 0px 0px 9px rgba(204, 204, 204, 1);
	box-shadow: 0px 0px 0px 0.5em rgba(204, 204, 204, 1);
	transition: box-shadow 0.5s linear;
}

#headshot:hover {
	box-shadow: 0px 0px 0px 100em rgba(20, 20, 24, 0.5);
}

/*Main*/
.aboutme {
	background-color: #e6e6e6;
	border-radius: 1em;
}

/*Social*/
.btn-github {
	color: #b10dc9;
	background-color: #e5e5e5;
	border-color:#b3b3b3;
}
.btn-github:hover,
.btn-github:focus,
.btn-github.focus,
.btn-github:active,
.btn-github.active,
.open > .dropdown-toggle.btn-github {
  color: #b10dc9;
  background-color: #bdbdbd;
	border-color:#b3b3b3;
}

.btn-linkedin {
	color: #fff;
	background-color: #006fa6;
}
.btn-linkedin:hover,
.btn-linkedin:focus,
.btn-linkedin.focus,
.btn-linkedin:active,
.btn-linkedin.active,
.open > .dropdown-toggle.btn-linkedin {
	color: #fff;
	background-color: #024f75;
}

/*Footer*/
footer {
	margin: 1em;
}

/*Medium Screens*/
@media screen and (min-width: 992px) {
	.aboutme {
		background-color: #fff;
	}
}

/*Small Screens*/
@media screen and (min-width: 768px) {
	#name {
		font-size: 10em;
	}
}
