/* Body */
body {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  font-size: 100%;
  font-family: Garamond;
}

/* Header */
header h1 {
  font-size: 2.3em;
}
header a {
  padding: 0 1em;
  font-weight: bold;
  border-right: 1px solid black;
}
header a:last-child {
  border-right: none;
}
header blockquote {
  font-style: italic;
  font-size: 1.2em;
}

/* Main */
a {
  text-decoration: none;
  color: black
}
a:hover {
  color: red;
}
footer {
  font-size: 0.85em;
}

/* Mobile View */
@media screen and (max-width: 600px) {
  main {
    margin: 0 1em;
  }
}
@media screen and (max-width: 360px) {
  header a {
    padding: 0 2em;
     border-right: none;
  }
}